*{
    box-sizing: border-box;
    margin: 0;
}
a{
    text-decoration: none;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url('..//assets/images/house.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-div{
position: relative;
display:flex;
align-items: center;
justify-content: center;
}
.img-div img{
    width:50%;
    z-index: 1001;

}
.light{
    width: 210px;
    height: 210px;
    background-color: #fbff1b;
    position: absolute;
    border-radius: 50%;
    margin-top: -50px;
    box-shadow: 0 0 200px white;
    z-index: 1000;
}
button{
    padding: 12px 50px;
    color:white;
    background-color: rgb(3, 160, 3);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 50px;
}
.red{
    background-color:red;
}
@media only screen and (max-width: 767px) {
        .img-div img{
            width:100% !important;
            z-index: 1001;
        }
        .light{
            width: 160px;
            height: 160px;
            margin-top: -40px;
        }
    }